@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GE SS Two";
  src: url("/fonts/GE_SS_Two_Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GE SS Two";
  src: url("/fonts/GE_SS_Two_Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

h1,h2,h3,h4 {
  font-family: 'Alexandria';
}

p {
  font-family: "GE SS Two" , "Alexandria";
}


